pre {
  overflow: auto;
  max-width: 100%;
}

pre,
code,
pre tt {
  font-size: 0.85rem;
}

.top-nav {
  align-items: center;
}

.top-nav a {
  text-decoration: none;
}

.top-nav a:active,
.top-nav a:visited {
  color: #24292f;
}

.markdown-body ul {
  list-style: disc;
}

.f {
  display: flex;
}

.f-fixed {
  flex: initial;
}

.f-auto {
  flex: 1;
}

body {
  height: 100vh;
  position: relative;
}

.top-nav {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 500;
}

.container {
  padding-top: 3rem;
}

#sidebar li {
  line-height: 2;
}

#sidebar ul {
  margin-bottom: 1rem;
}

#sidebar h2 {
  margin-top: 1rem;
  font-size: 110%;
  line-height: 2;
}

#sidebar {
  display: none;
}

#sidebar.showing {
  background-color: #fff;
  bottom: 0;
  display: block;
  left: 0;
  overflow: auto;
  padding: 3rem 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.sidebar-control {
  display: block;
  margin-right: 1rem;
}

#content {
  max-width: 960px;
  padding: 3rem 1rem 3rem 1rem;
}

.content-wrapper {
  overflow: auto;
}

.footer {
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 0.5rem;
}

.links {
  display: none;
}

.permalink {
  display: none;
}

@media screen and (min-width: 1080px) {
  .sidebar-control {
    display: none;
  }

  #sidebar {
    border-right: 1px solid #cfcfcf;
    bottom: 0;
    height: 100vh;
    left: 0;
    overflow: auto;
    padding: 2rem;
    padding-top: 5rem;
    position: fixed;
    top: 0;
    width: 300px;
  }

  #sidebar.showing {
    border-right: 1px solid #cfcfcf;
    bottom: 0;
    height: 100vh;
    left: 0;
    overflow: auto;
    padding: 2rem;
    padding-top: 5rem;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 100;
  }

  #sidebar {
    display: block;
  }

  .content-wrapper {
    padding-left: 300px;
  }

  #content {
    padding: 3rem 2rem 5rem 2rem;
  }

  .links {
    display: block;
  }

  .links a + a {
    margin-left: 1rem;
  }

  .links a:hover {
    color: #0969da;
  }
}

@media print {
  .top-nav {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .container {
    padding: 0;
    margin: 0;
  }

  .content-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  #content {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .permalink {
    display: block;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #f1f1f1;
    color: #ccc;
  }
}
