pre {
  overflow: auto;
  max-width: 100%;
}

pre,
code,
pre tt {
  font-size: 0.85rem;
}

img {
  max-width: 100%;
}

.markdown-body ul {
  list-style: disc;
}

.f {
  display: flex;
}

.f-fixed {
  flex: initial;
}

.f-auto {
  flex: 1;
}

.clickable {
  cursor: pointer;
}

body {
  height: 100vh;
  position: relative;
}
